<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e00c9548-afe1-456b-8eb5-859822d2173e/resourcegroups/WebApplication120231205144805ResourceGroup/providers/Microsoft.Web/sites/WebApplication120231205144805</ResourceId>
    <ResourceGroup>WebApplication120231205144805ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapplication120231205144805.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>73f1e668-8142-4b7d-b719-cf2ef8c8e2ca</ProjectGuid>
    <PublishUrl>https://webapplication120231205144805.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WebApplication120231205144805</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>